/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f2b138;
  --ifm-color-primary-dark: #f0a61c;
  --ifm-color-primary-darker: #eea010;
  --ifm-color-primary-darkest: #c4840d;
  --ifm-color-primary-light: #f4bc54;
  --ifm-color-primary-lighter: #f5c162;
  --ifm-color-primary-lightest: #f7d28c;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
