[Desktop Entry]
Name=Linwood Butterfly
Comment=Take notes, draw freely, and organize ideas across an endless workspace
Exec=/usr/bin/linwood-butterfly %f
Icon=/usr/share/linwood-butterfly/data/flutter_assets/images/logo.svg
Terminal=false
Type=Application
Categories=Office;
MimeType=application/x-butterfly;application/x-text-butterfly;application/onenote;image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/svg+xml;image/svg+xml-compressed;image/x-ico;application/pdf;
