[Desktop Entry]
Name=Linwood Butterfly
Comment=Powerful, minimalistic, cross-platform, opensource note-taking app
Exec=butterfly
Icon=${SNAP}/meta/gui/butterfly.png # replace name to your app name
Terminal=false
Type=Application
Categories=Productivity; #adjust accordingly your snap category