<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="${appName}"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="launch.butterfly.linwood.dev" />
            </intent-filter>
            <!-- Custom file extension .bfly -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-butterfly" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.bfly" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\.bfly" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\..*\\.bfly" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.bfly" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\.bfly" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\.bfly" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-text-butterfly" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.tbfly" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\.tbfly" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\..*\\.tbfly" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.tbfly" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\.tbfly" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\..*\\..*\\.tbfly" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <provider
            android:name="com.superlist.super_native_extensions.DataProvider"
            android:authorities="${applicationId}.SuperClipboardDataProvider"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
</manifest>