<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="${appName}"
        android:name="${applicationName}"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="launch.butterfly.linwood.dev" />
            </intent-filter>
            <!-- Custom file extension .bfly -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- file:// URIs -->
                <data
                    android:scheme="file"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.bfly" />
                <data
                    android:scheme="file"
                    android:mimeType="application/x-butterfly"
                    android:pathPattern=".*\\.bfly" />

                <!-- content:// URIs -->
                <data
                    android:scheme="content"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.bfly" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-butterfly"
                    android:pathPattern=".*\\.bfly" />
            </intent-filter>

            <!-- .tbfly files (application/octet-stream + custom mime) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- file:// URIs -->
                <data
                    android:scheme="file"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.tbfly" />
                <data
                    android:scheme="file"
                    android:mimeType="application/x-text-butterfly"
                    android:pathPattern=".*\\.tbfly" />

                <!-- content:// URIs -->
                <data
                    android:scheme="content"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.tbfly" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-text-butterfly"
                    android:pathPattern=".*\\.tbfly" />
            </intent-filter>

            <!-- ZIP files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="file"
                    android:mimeType="application/zip"
                    android:pathPattern=".*\\.zip" />
                <data
                    android:scheme="content"
                    android:mimeType="application/zip"
                    android:pathPattern=".*\\.zip" />
            </intent-filter>

            <!-- PDF files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="file"
                    android:mimeType="application/pdf"
                    android:pathPattern=".*\\.pdf" />
                <data
                    android:scheme="content"
                    android:mimeType="application/pdf"
                    android:pathPattern=".*\\.pdf" />
            </intent-filter>

            <!-- Images -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="file"
                    android:mimeType="image/*"
                    android:pathPattern=".*\\.(jpg|jpeg|png|gif|bmp|webp)" />
                <data
                    android:scheme="content"
                    android:mimeType="image/*"
                    android:pathPattern=".*\\.(jpg|jpeg|png|gif|bmp|webp)" />
            </intent-filter>


            <!-- Markdown files (.md) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- file:// URIs -->
                <data
                    android:scheme="file"
                    android:mimeType="text/markdown"
                    android:pathPattern=".*\\.md" />
                <data
                    android:scheme="file"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.md" />

                <!-- content:// URIs -->
                <data
                    android:scheme="content"
                    android:mimeType="text/markdown"
                    android:pathPattern=".*\\.md" />
                <data
                    android:scheme="content"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.md" />
            </intent-filter>

            <!-- Text files (.txt) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- file:// URIs -->
                <data
                    android:scheme="file"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.txt" />
                <data
                    android:scheme="file"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.txt" />

                <!-- content:// URIs -->
                <data
                    android:scheme="content"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.txt" />
                <data
                    android:scheme="content"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.txt" />
            </intent-filter>
        </activity>

        <!-- Flutter plugin registrant -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- DataProvider for SuperClipboard -->
        <provider
            android:name="com.superlist.super_native_extensions.DataProvider"
            android:authorities="${applicationId}.SuperClipboardDataProvider"
            android:exported="true"
            android:grantUriPermissions="true" />

    </application>

    <!-- Required for text processing plugins -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
</manifest>