
/* Background: #35EF53 with 0.1 chroma */
/* Dark mode colors. */
:root {
  --sl-color-accent: #c4840d;
  --sl-color-white: #ffffff;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #e5d4bf;
  --sl-color-accent: #916000;
  --sl-color-accent-high: #462c00;
  --sl-color-white: #151915;
}
