/* Background: #35EF53 with 0.1 chroma */
/* Dark mode colors. */
:root {
  --sl-color-accent-low: #312007;
  --sl-color-accent: #8f5e00;
  --sl-color-accent-high: #dbc5a8;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaefea;
  --sl-color-gray-2: #bec4be;
  --sl-color-gray-3: #848f84;
  --sl-color-gray-4: #515b51;
  --sl-color-gray-5: #323b32;
  --sl-color-gray-6: #212921;
  --sl-color-black: #151915;
  --sl-font-system: "Barlow", sans-serif;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #e5d4bf;
  --sl-color-accent: #916000;
  --sl-color-accent-high: #462c00;
  --sl-color-white: #151915;
  --sl-color-gray-1: #212921;
  --sl-color-gray-2: #323b32;
  --sl-color-gray-3: #515b51;
  --sl-color-gray-4: #848f84;
  --sl-color-gray-5: #bec4be;
  --sl-color-gray-6: #eaefea;
  --sl-color-gray-7: #f5f7f5;
  --sl-color-black: #ffffff;
}

.inline-icon {
  display: inline !important;
  vertical-align: sub;
  margin: 0 !important;
  padding: 0;
}

br {
  display: block;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
/* Dark mode colors. */
:root {
  --sl-color-accent-low: #312007;
  --sl-color-accent: #8f5e00;
  --sl-color-accent-high: #dbc5a8;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceeec;
  --sl-color-gray-2: #c0c3c0;
  --sl-color-gray-3: #888d88;
  --sl-color-gray-4: #555a55;
  --sl-color-gray-5: #353a35;
  --sl-color-gray-6: #242824;
  --sl-color-black: #171917;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #e5d4bf;
  --sl-color-accent: #916000;
  --sl-color-accent-high: #462c00;
  --sl-color-white: #171917;
  --sl-color-gray-1: #242824;
  --sl-color-gray-2: #353a35;
  --sl-color-gray-3: #555a55;
  --sl-color-gray-4: #888d88;
  --sl-color-gray-5: #c0c3c0;
  --sl-color-gray-6: #eceeec;
  --sl-color-gray-7: #f5f7f5;
  --sl-color-black: #ffffff;
}
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
