name: documentation

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]

jobs:
  checks:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Test Build
        run: |
          cd docs
          yarn install --frozen-lockfile
          yarn build
