name: Release

on:
  workflow_dispatch:
    branches:
      - develop
    inputs:
      changelog:
        type: string
        description: Changelog for the release
        required: true
jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: develop
      - name: Setup git
        run: |
          // Get current date time formatted in yyy-mm-dd
          BUTTERFLY_VERSION_REGEX="version:\s(.+)\+(.+)"
          [[ $(grep -E "${BUTTERFLY_VERSION_REGEX}" app/pubspec.yaml) =~ ${BUTTERFLY_VERSION_REGEX} ]]
          BUTTERFLY_VERSION=${BASH_REMATCH[1]}
          BUTTERFLY_BUILD_NUMBER=${BASH_REMATCH[2]}
          BUTTERFLY_RELEASE_DATE=$(date +%Y-%m-%d)
      - name: Update changelog
        run: |
          INPUT_CHANGELOG="<!--ENTER CHANGELOG HERE-->\n\n## ${BUTTERFLY_VERSION} (${BUTTERFLY_RELEASE_DATE})\n\n${ github.event.inputs.changelog }"
          sed -i "s/<\!--ENTER CHANGELOG HERE-->/${INPUT_CHANGELOG}/g" docs/community/CHANGELOG.md
          echo "${INPUT_CHANGELOG}" > fastlane/metadata/android/en-US/changelogs/${BUTTERFLY_BUILD_NUMBER}.txt
          git add docs/community/CHANGELOG.md
          git add fastlane/metadata/android/en-US/changelogs/${BUTTERFLY_BUILD_NUMBER}.txt
          git commit -m "Update CHANGELOG.md for ${BUTTERFLY_VERSION}"
          git push origin develop
      - name: Merge develop into main
        run: |
          git checkout main
          git merge develop
          git push origin main
      - name: Create tag
        run: |
          git tag -a v${BUTTERFLY_VERSION} -m "Release ${BUTTERFLY_VERSION}"
          git push origin v${BUTTERFLY_VERSION}
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${BUTTERFLY_VERSION}
          name: v${BUTTERFLY_VERSION}
          body: ${github.event.inputs.changelog}



